<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./VanillaCarousel.css">
<title>Vanilla Carousel</title>
</head>
<body>
    <div class="ucarousel-vanilla__container">
        <ul class="ucarousel-vanilla__items">
            <li class="ucarousel-vanilla__item fade">
                <h2>Slide 1</h2>
            </li>
            <li class="ucarousel-vanilla__item fade">
                <h2>Slide 2</h2>
            </li>
            <li class="ucarousel-vanilla__item fade">
                <h2>Slide 3</h2>
            </li>
            <li class="ucarousel-vanilla__item fade">
                <h2>Slide 4</h2>
            </li>
            <li class="ucarousel-vanilla__item fade">
                <h2>Slide 5</h2>
            </li>
        </ul>
        <button class="ucarousel-vanilla__nav--prev" onclick="prev()">&#10094;</button>
        <button class={"ucarousel-vanilla__nav--next" onclick="next()">&#10095;</button>
    </div>
    <script src="./VanillaCarousel.js"></script>
</body>
</html>