:global {
  .ucontainer {
    position: relative;

    &--flex {
      display: flex;
      flex-flow: row wrap;
    }

    &__item {
      position: relative;

      // Look&Feel
      list-style: none;

      // Spacing
      margin: 0 28px 30px 0;
    }
  }
}