$duration: 450ms;
$slideWidth: 250px;
$slideHeight: ($slideWidth / (16/9));
$iconSize: 50px;
$growFactor: 1.5;
$moveLeft: -($slideWidth * ($growFactor - 1) / 2);
$moveRight: $slideWidth * ($growFactor - 1);

:global {
  .ucarousel--native {
    white-space: nowrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &__inner {
      transition: $duration transform;
      white-space: nowrap;
      margin: ($slideHeight / 2) 0;

      &:hover {
        transform: translate3d($moveLeft, 0, 0);
      }
    }

    &__inner:hover &__slide {
      opacity: .3;
    }

    &__inner:hover &__slide:hover {
      opacity: 1;
      transform: scale($growFactor);
    }

    &__slide {
      display: inline-block;
      transition: $duration all;
      transform-origin: center left;
    }

    //&__slider:hover ~ & {
    //  transform: translate3d($moveRight, 0, 0);
    //}
  }
}
